body {
	margin: 0px;
	width: 100vw;
	height: 100vh;
	background: black;
	overflow: hidden;
}

div {
	position: absolute;
}

video {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: fill;
	transition-property: opacity;
}

#tint {
	width: 100%;
	height: 100%;
	z-index: 8;
	mix-blend-mode: difference;
	transition-property: background;
}

#filter {
	width: 100%;
	height: 100%;
}